一次完整的http请求

<div id="mainContent">
	<div class="forFlow">
		
        <div id="post_detail">
<!--done-->
<div id="topics">
	<div class="post">
		<h1 class="postTitle">
			<a id="cb_post_title_url" class="postTitle2" href="https://www.cnblogs.com/engeng/articles/5959335.html">一次完整的HTTP请求过程</a>
		</h1>
		<div class="clear"></div>
		<div class="postBody">
			<div id="cnblogs_post_body" class="blogpost-body"><p>当我们在浏览器的地址栏输入&nbsp;www.linux178.com&nbsp;，然后回车，回车这一瞬间到看到页面到底发生了什么呢？</p>
<p>&nbsp;</p>
<p>以下过程仅是个人理解：</p>
<p>&nbsp;</p>
<p>域名解析 --&gt; 发起TCP的3次握手 --&gt; 建立TCP连接后发起http请求 --&gt; 服务器响应http请求，浏览器得到html代码 --&gt; 浏览器解析html代码，并请求html代码中的资源（如js、css、图片等） --&gt; 浏览器对页面进行渲染呈现给用户</p>
<p>&nbsp;</p>
<p>关于HTTP协议可以参考以下：</p>
<p>HTTP协议漫谈 &nbsp;http://kb.cnblogs.com/page/140611/</p>
<p>HTTP协议概览 &nbsp;http://www.cnblogs.com/vamei/archive/2013/05/11/3069788.html</p>
<p>了解HTTP Headers的方方面面 &nbsp;http://kb.cnblogs.com/page/55442/</p>
<p>&nbsp;</p>
<p>以下就是上面过程的一一分析，我们就以Chrome浏览器为例：</p>
<p>&nbsp;</p>
<p>1.域名解析</p>
<p>&nbsp;</p>
<p>首先Chrome浏览器会解析 www.linux178.com 这个域名（准确的叫法应该是主机名）对应的IP地址。怎么解析到对应的IP地址？</p>
<p>&nbsp;</p>
<p>① Chrome浏览器 会首先搜索浏览器自身的DNS缓存（缓存时间比较短，大概只有1分钟，且只能容纳1000条缓存），看自身的缓存中是否有www.linux178.com 对应的条目，而且没有过期，如果有且没有过期则解析到此结束。</p>
<p>&nbsp; &nbsp; 注：我们怎么查看Chrome自身的缓存？可以使用 chrome://net-internals/#dns 来进行查看</p>
<p>&nbsp;</p>
<p>② 如果浏览器自身的缓存里面没有找到对应的条目，那么Chrome会搜索操作系统自身的DNS缓存,如果找到且没有过期则停止搜索解析到此结束.</p>
<p>&nbsp; &nbsp; &nbsp;注：怎么查看操作系统自身的DNS缓存，以Windows系统为例，可以在命令行下使用 ipconfig /displaydns 来进行查看 &nbsp;</p>
<p>&nbsp;</p>
<p>③ 如果在Windows系统的DNS缓存也没有找到，那么尝试读取hosts文件（位于C:\Windows\System32\drivers\etc），看看这里面有没有该域名对应的IP地址，如果有则解析成功。</p>
<p>&nbsp;</p>
<p>④ 如果在hosts文件中也没有找到对应的条目，浏览器就会发起一个DNS的系统调用，就会向本地配置的首选DNS服务器（一般是电信运营商提供的，也可以使用像Google提供的DNS服务器）发起域名解析请求（通过的是UDP协议向DNS的53端口发起请求，这个请求是递归的请求，也就是运营商的DNS服务器必须得提供给我们该域名的IP地址），运营商的DNS服务器首先查找自身的缓存，找到对应的条目，且没有过期，则解析成功。如果没有找到对应的条目，则有运营商的DNS代我们的浏览器发起迭代DNS解析请求，它首先是会找根域的DNS的IP地址（这个DNS服务器都内置13台根域的DNS的IP地址），找打根域的DNS地址，就会向其发起请求（请问www.linux178.com这个域名的IP地址是多少啊？），根域发现这是一个顶级域com域的一个域名，于是就告诉运营商的DNS我不知道这个域名的IP地址，但是我知道com域的IP地址，你去找它去，于是运营商的DNS就得到了com域的IP地址，又向com域的IP地址发起了请求（请问www.linux178.com这个域名的IP地址是多少?）,com域这台服务器告诉运营商的DNS我不知道www.linux178.com这个域名的IP地址，但是我知道linux178.com这个域的DNS地址，你去找它去，于是运营商的DNS又向linux178.com这个域名的DNS地址（这个一般就是由域名注册商提供的，像万网，新网等）发起请求（请问www.linux178.com这个域名的IP地址是多少？），这个时候linux178.com域的DNS服务器一查，诶，果真在我这里，于是就把找到的结果发送给运营商的DNS服务器，这个时候运营商的DNS服务器就拿到了www.linux178.com这个域名对应的IP地址，并返回给Windows系统内核，内核又把结果返回给浏览器，终于浏览器拿到了www.linux178.com &nbsp;对应的IP地址，该进行一步的动作了。</p>
<p>注：一般情况下是不会进行以下步骤的</p>
<p>如果经过以上的4个步骤，还没有解析成功，那么会进行如下步骤（以下是针对Windows操作系统）：</p>
<p>⑤ 操作系统就会查找NetBIOS name Cache（NetBIOS名称缓存，就存在客户端电脑中的），那这个缓存有什么东西呢？凡是最近一段时间内和我成功通讯的计算机的计算机名和Ip地址，就都会存在这个缓存里面。什么情况下该步能解析成功呢？就是该名称正好是几分钟前和我成功通信过，那么这一步就可以成功解析。</p>
<p>⑥ 如果第⑤步也没有成功，那会查询WINS 服务器（是NETBIOS名称和IP地址对应的服务器）</p>
<p>⑦ 如果第⑥步也没有查询成功，那么客户端就要进行广播查找</p>
<p>⑧ 如果第⑦步也没有成功，那么客户端就读取LMHOSTS文件（和HOSTS文件同一个目录下，写法也一样）</p>
<p>如果第八步还没有解析成功，那么就宣告这次解析失败，那就无法跟目标计算机进行通信。只要这八步中有一步可以解析成功，那就可以成功和目标计算机进行通信。</p>
<p>&nbsp;</p>
<p>看下图抓包截图：</p>
<p>Linux虚拟机测试，使用命令 wget www.linux178.com 来请求，发现直接使用chrome浏览器请求时，干扰请求比较多，所以就使用wget命令来请求，不过使用wget命令只能把index.html请求回来，并不会对index.html中包含的静态资源（js、css等文件）进行请求。</p>
<p><img title="1.png" src="http://s3.51cto.com/wyfs02/M00/11/7C/wKioL1LSWzzxRParAAKbC85UJtE371.jpg" alt="wKioL1LSWzzxRParAAKbC85UJtE371.jpg" width="650"></p>
<p>&nbsp;</p>
<p>抓包分析：</p>
<p>&nbsp;</p>
<p>① 号包，这个是那台虚拟机在广播，要获取192.168.100.254（也就是网关）的MAC地址，因为局域网的通信靠的是MAC地址，它为什么需要跟网关进行通信是因为我们的DNS服务器IP是外围IP，要出去必须要依靠网关帮我们出去才行。</p>
<p>② 号包，这个是网关收到了虚拟机的广播之后，回应给虚拟机的回应，告诉虚拟机自己的MAC地址，于是客户端找到了路由出口。</p>
<p>&nbsp;</p>
<p>③ 号包，这个包是wget命令向系统配置的DNS服务器提出域名解析请求（准确的说应该是wget发起了一个DNS解析的系统调用），请求的域名www.linux178.com,期望得到的是IP6的地址（AAAA代表的是IPv6地址）</p>
<p>④ 号包，这个DNS服务器给系统的响应，很显然目前使用IPv6的还是极少数，所以得不到AAAA记录的</p>
<p>⑤ 号包，这个还是请求解析IPv6地址，但是www.linux178.com.leo.com这个主机名是不存在的，所以得到结果就是no such name</p>
<p>&nbsp;</p>
<p>⑥ 号包，这个才是请求的域名对应的IPv4地址（A记录）</p>
<p>⑦ 号包，DNS服务器不管是从缓存里面，还是进行迭代查询最终得到了域名的IP地址，响应给了系统，系统再给了wget命令，wget于是得到了www.linux178.com的IP地址，这里也可以看出客户端和本地的DNS服务器是递归的查询（也就是服务器必须给客户端一个结果）这就可以开始下一步了，进行TCP的三次握手。</p>
<p>&nbsp;</p>
<p>2.发起TCP的3次握手</p>
<p>&nbsp;</p>
<p>拿到域名对应的IP地址之后，User-Agent（一般是指浏览器）会以一个随机端口（1024 &lt; 端口 &lt; 65535）向服务器的WEB程序（常用的有httpd,nginx等）80端口发起TCP的连接请求。这个连接请求（原始的http请求经过TCP/IP4层模型的层层封包）到达服务器端后（这中间通过各种路由设备，局域网内除外），进入到网卡，然后是进入到内核的TCP/IP协议栈（用于识别该连接请求，解封包，一层一层的剥开），还有可能要经过Netfilter防火墙（属于内核的模块）的过滤，最终到达WEB程序（本文就以Nginx为例），最终建立了TCP/IP的连接。</p>
<p>如下图：</p>
<p><img title="2.png" src="http://s3.51cto.com/wyfs02/M01/11/7C/wKioL1LSW6rjI1nhAAE63Uv8ZRY731.jpg" alt="wKioL1LSW6rjI1nhAAE63Uv8ZRY731.jpg"></p>
<p>1） Client首先发送一个连接试探，ACK=0 表示确认号无效，SYN = 1 表示这是一个连接请求或连接接受报文，同时表示这个数据报不能携带数据，seq = x 表示Client自己的初始序号（seq = 0 就代表这是第0号包），这时候Client进入syn_sent状态，表示客户端等待服务器的回复</p>
<p>2） Server监听到连接请求报文后，如同意建立连接，则向Client发送确认。TCP报文首部中的SYN 和 ACK都置1 ，ack = x + 1表示期望收到对方下一个报文段的第一个数据字节序号是x+1，同时表明x为止的所有数据都已正确收到（ack=1其实是ack=0+1,也就是期望客户端的第1个包），seq = y 表示Server 自己的初始序号（seq=0就代表这是服务器这边发出的第0号包）。这时服务器进入syn_rcvd，表示服务器已经收到Client的连接请求，等待client的确认。</p>
<p>3） Client收到确认后还需再次发送确认，同时携带要发送给Server的数据。ACK 置1 表示确认号ack= y + 1 有效（代表期望收到服务器的第1个包），Client自己的序号seq= x + 1（表示这就是我的第1个包，相对于第0个包来说的），一旦收到Client的确认之后，这个TCP连接就进入Established状态，就可以发起http请求了。</p>
<p>看抓包截图：</p>
<p><img title="3.png" src="http://s3.51cto.com/wyfs02/M00/11/7D/wKiom1LSW9-BWZw6AAD7FV3OfS4963.jpg" alt="wKiom1LSW9-BWZw6AAD7FV3OfS4963.jpg" width="650"></p>
<p>&nbsp;</p>
<p>⑨ 号包 这个就是对应上面的步骤 1）</p>
<p>⑩ 号包 这个对应的上面的步骤 2）</p>
<p>号包 这个对应的上面的步骤 3）</p>
<p>&nbsp;</p>
<p>TCP 为什么需要3次握手？</p>
<p>&nbsp;</p>
<p>举个例子：</p>
<p>&nbsp;</p>
<p>假设一个老外在故宫里面迷路了，看到了小明，于是就有下面的对话：</p>
<p>&nbsp;</p>
<p>老外： Excuse me，Can you Speak English?</p>
<p>小明： yes 。</p>
<p>老外： OK,I want ...</p>
<p>&nbsp;</p>
<p>在问路之前，老外先问小明是否会说英语，小明回答是的，这时老外才开始问路</p>
<p>&nbsp;</p>
<p>2个计算机通信是靠协议（目前流行的TCP/IP协议）来实现,如果2个计算机使用的协议不一样，那是不能进行通信的，所以这个3次握手就相当于试探一下对方是否遵循TCP/IP协议，协商完成后就可以进行通信了，当然这样理解不是那么准确。</p>
<p>&nbsp;</p>
<p>为什么HTTP协议要基于TCP来实现？</p>
<p>&nbsp;</p>
<p>目前在Internet中所有的传输都是通过TCP/IP进行的，HTTP协议作为TCP/IP模型中应用层的协议也不例外，TCP是一个端到端的可靠的面向连接的协议，所以HTTP基于传输层TCP协议不用担心数据的传输的各种问题。</p>
<p>&nbsp;</p>
<p>3.建立TCP连接后发起http请求</p>
<p>&nbsp;</p>
<p>进过TCP3次握手之后，浏览器发起了http的请求（看第包），使用的http的方法 GET 方法，请求的URL是 / ,协议是HTTP/1.0</p>
<p>&nbsp;</p>
<p><img title="4.png" src="http://s3.51cto.com/wyfs02/M00/11/7C/wKioL1LSXDmgmVT_AAFUErYF2ys832.jpg" alt="wKioL1LSXDmgmVT_AAFUErYF2ys832.jpg" width="650"></p>
<div>下面是第12号包的详细内容：</div>
<p><img title="5.png" src="http://s3.51cto.com/wyfs02/M02/11/7D/wKiom1LSXHiCgHkBAAKtTT2l-Ac152.jpg" alt="wKiom1LSXHiCgHkBAAKtTT2l-Ac152.jpg"></p>
<p>&nbsp;</p>
<p>以上的报文是HTTP请求报文。</p>
<p>&nbsp;</p>
<p>那么HTTP请求报文和响应报文会是什么格式呢？</p>
<p>&nbsp;</p>
<p>起始行：如 GET / HTTP/1.0 （请求的方法 &nbsp;请求的URL 请求所使用的协议）</p>
<p>头部信息：User-Agent &nbsp;Host等成对出现的值</p>
<p>主体</p>
<p>&nbsp;</p>
<p>不管是请求报文还是响应报文都会遵循以上的格式。</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>那么起始行中的请求方法有哪些种呢？</p>
<p>&nbsp;</p>
<p>&nbsp; GET: 完整请求一个资源 （常用）</p>
<p>&nbsp; HEAD: 仅请求响应首部</p>
<p>&nbsp; POST：提交表单 &nbsp;（常用）</p>
<p>&nbsp; PUT: (webdav) 上传文件（但是浏览器不支持该方法）</p>
<p>&nbsp; DELETE：(webdav) 删除</p>
<p>&nbsp; OPTIONS：返回请求的资源所支持的方法的方法</p>
<p>&nbsp; TRACE: 追求一个资源请求中间所经过的代理（该方法不能由浏览器发出）</p>
<p>&nbsp;</p>
<p>那什么是URL、URI、URN？</p>
<p>&nbsp;</p>
<p>URI &nbsp;Uniform Resource Identifier 统一资源标识符</p>
<p>URL &nbsp;Uniform Resource Locator 统一资源定位符</p>
<p>&nbsp; &nbsp; 格式如下： &nbsp;scheme://[username:password@]HOST:port/path/to/source</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; http://www.magedu.com/downloads/nginx-1.5.tar.gz</p>
<p>&nbsp;</p>
<p>URN &nbsp;Uniform Resource Name 统一资源名称</p>
<p>&nbsp;</p>
<p>URL和URN 都属于 URI</p>
<p>&nbsp;</p>
<p>为了方便就把URL和URI暂时都通指一个东西</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>请求的协议有哪些种？</p>
<p>&nbsp;</p>
<p>有以下几种：</p>
<p>&nbsp;</p>
<p>http/0.9: stateless</p>
<p>http/1.0: MIME, keep-alive (保持连接), 缓存</p>
<p>http/1.1: 更多的请求方法，更精细的缓存控制，持久连接(persistent connection) 比较常用</p>
<p>&nbsp;</p>
<p>下面是Chrome发起的http请求报文头部信息</p>
<p>&nbsp;</p>
<p><img title="6.png" src="http://s3.51cto.com/wyfs02/M01/11/7C/wKioL1LSXMqCjyIQAAESKm-mkV8876.jpg" alt="wKioL1LSXMqCjyIQAAESKm-mkV8876.jpg"></p>
<p>&nbsp;</p>
<p>其中</p>
<p>Accept &nbsp;就是告诉服务器端，我接受那些MIME类型</p>
<p>Accept-Encoding &nbsp;这个看起来是接受那些压缩方式的文件</p>
<p>Accept-Lanague &nbsp; 告诉服务器能够发送哪些语言</p>
<p>Connection &nbsp; &nbsp; &nbsp; 告诉服务器支持keep-alive特性</p>
<p>Cookie &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 每次请求时都会携带上Cookie以方便服务器端识别是否是同一个客户端</p>
<p>Host &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 用来标识请求服务器上的那个虚拟主机，比如Nginx里面可以定义很多个虚拟主机</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 那这里就是用来标识要访问那个虚拟主机。</p>
<p>User-Agent &nbsp; &nbsp; &nbsp; 用户代理，一般情况是浏览器，也有其他类型，如：wget curl 搜索引擎的蜘蛛等 &nbsp; &nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>条件请求首部：</p>
<p>If-Modified-Since 是浏览器向服务器端询问某个资源文件如果自从什么时间修改过，那么重新发给我，这样就保证服务器端资源</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 文件更新时，浏览器再次去请求，而不是使用缓存中的文件</p>
<p>安全请求首部：</p>
<p>Authorization: 客户端提供给服务器的认证信息；</p>
<p>&nbsp;</p>
<p>什么是MIME？</p>
<p>&nbsp;</p>
<p>MIME（Multipurpose Internet Mail Extesions 多用途互联网邮件扩展）是一个互联网标准，它扩展了电子邮件标准，使其能够支持非ASCII字符、二进制格式附件等多种格式的邮件消息，这个标准被定义在RFC 2045、RFC 2046、RFC 2047、RFC 2048、RFC 2049等RFC中。 由RFC 822转变而来的RFC 2822，规定电子邮件标准并不允许在邮件消息中使用7位ASCII字符集以外的字符。正因如此，一些非英语字符消息和二进制文件，图像，声音等非文字消息都不能在电子邮件中传输。MIME规定了用于表示各种各样的数据类型的符号化方法。 此外，在万维网中使用的HTTP协议中也使用了MIME的框架，标准被扩展为互联网媒体类型。</p>
<p>&nbsp;</p>
<p>MIME 遵循以下格式：major/minor 主类型/次类型 例如：</p>
<div>
<div id="highlighter_848515" class="syntaxhighlighter  bash">
<table border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="gutter">
<div class="line number1 index0 alt2">1</div>
<div class="line number2 index1 alt1">2</div>
<div class="line number3 index2 alt2">3</div>
<div class="line number4 index3 alt1">4</div>
<div class="line number5 index4 alt2">5</div>
</td>
<td class="code">
<div class="container">
<div class="line number1 index0 alt2"><code class="bash plain">image</code><code class="bash plain">/jpg</code></div>
<div class="line number2 index1 alt1"><code class="bash plain">image</code><code class="bash plain">/gif</code></div>
<div class="line number3 index2 alt2"><code class="bash plain">text</code><code class="bash plain">/html</code></div>
<div class="line number4 index3 alt1"><code class="bash plain">video</code><code class="bash plain">/quicktime</code></div>
<div class="line number5 index4 alt2"><code class="bash plain">appliation</code><code class="bash plain">/x-httpd-php</code></div>
</div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
<p>&nbsp;</p>
<p>4.服务器端响应http请求，浏览器得到html代码</p>
<p>&nbsp;</p>
<p>看下图 第12号包是http请求包，第32包是http响应包</p>
<p>&nbsp;</p>
<p>服务器端WEB程序接收到http请求以后，就开始处理该请求，处理之后就返回给浏览器html文件。</p>
<p>&nbsp;</p>
<p><img title="7.png" src="http://s3.51cto.com/wyfs02/M00/11/7D/wKiom1LSXVeQETJrAAaV9VlbbBo896.jpg" alt="wKiom1LSXVeQETJrAAaV9VlbbBo896.jpg" width="650"></p>
<p>&nbsp;</p>
<p>第32号包 是服务器返回给客户端http响应包（200 ok 响应的MIME类型是text/html），代表这一次客户端发起的http请求已成功响应。200 代表是的 响应成功的状态码，还有其他的状态码如下：</p>
<p>&nbsp;</p>
<p>1xx: 信息性状态码</p>
<p>&nbsp; &nbsp; 100, 101</p>
<p>2xx: 成功状态码</p>
<p>&nbsp; &nbsp; 200：OK</p>
<p>3xx: 重定向状态码</p>
<p>&nbsp; &nbsp; 301: 永久重定向, Location响应首部的值仍为当前URL，因此为隐藏重定向;</p>
<p>&nbsp; &nbsp; 302: 临时重定向，显式重定向, Location响应首部的值为新的URL</p>
<p>&nbsp; &nbsp; 304：Not Modified &nbsp;未修改，比如本地缓存的资源文件和服务器上比较时，发现并没有修改，服务器返回一个304状态码，</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 告诉浏览器，你不用请求该资源，直接使用本地的资源即可。</p>
<p>4xx: 客户端错误状态码</p>
<p>&nbsp; &nbsp; 404: Not Found &nbsp;请求的URL资源并不存在</p>
<p>5xx: 服务器端错误状态码</p>
<p>&nbsp; &nbsp; 500: Internal Server Error &nbsp;服务器内部错误</p>
<p>&nbsp; &nbsp; 502: Bad Gateway &nbsp;前面代理服务器联系不到后端的服务器时出现</p>
<p>&nbsp; &nbsp; 504：Gateway Timeout &nbsp;这个是代理能联系到后端的服务器，但是后端的服务器在规定的时间内没有给代理服务器响应</p>
<p>&nbsp;</p>
<p>用Chrome浏览器看到的响应头信息：</p>
<p>&nbsp;</p>
<p><img title="8.png" src="http://s3.51cto.com/wyfs02/M02/11/7C/wKioL1LSXgCDWDvyAADfe7wzmKk795.jpg" alt="wKioL1LSXgCDWDvyAADfe7wzmKk795.jpg"></p>
<p>&nbsp;</p>
<p>Connection &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;使用keep-alive特性</p>
<p>Content-Encoding &nbsp; &nbsp; &nbsp;使用gzip方式对资源压缩</p>
<p>Content-type &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;MIME类型为html类型，字符集是 UTF-8</p>
<p>Date &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;响应的日期</p>
<p>Server &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;使用的WEB服务器</p>
<p>Transfer-Encoding:chunked &nbsp; 分块传输编码 是http中的一种数据传输机制，允许HTTP由网页服务器发送给客户端应用（通常是网页浏览器）的数据可以分成多个部分，分块传输编码只在HTTP协议1.1版本（HTTP/1.1）中提供</p>
<p>Vary &nbsp;这个可以参考（http://blog.csdn.NET/tenfyguo/article/details/5939000）</p>
<p>X-Pingback &nbsp;参考（http://blog.sina.com.cn/s/blog_bb80041c0101fmfz.html）</p>
<p>&nbsp;</p>
<p>那到底服务器端接收到http请求后是怎么样生成html文件？</p>
<p>&nbsp;</p>
<p>假设服务器端使用nginx+PHP(fastcgi)架构提供服务</p>
<p>&nbsp;</p>
<p>① nginx读取配置文件</p>
<p>&nbsp;</p>
<p>我们在浏览器的地址栏里面输入的是 http://www.linux178.com （http://可以不用输入，浏览器会自动帮我们添加），其实完整的应该是http://www.linux178.com./ 后面还有个点（这个点代表就是根域，一般情况下我们不用输入，也不显示）,后面的/也是不用添加，浏览器会自动帮我们添加（且看第3部那个图里面的URL），那么实际请求的URL是http://www.linux178.com/，那么好了Nginx在收到 浏览器 GET / 请求时，会读取http请求里面的头部信息，根据Host来匹配 自己的所有的虚拟主机的配置文件的server_name,看看有没有匹配的，有匹配那么就读取该虚拟主机的配置，发现如下配置：</p>
<p>&nbsp;</p>
<div>
<div id="highlighter_837896" class="syntaxhighlighter  bash">
<table border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="gutter">
<div class="line number1 index0 alt2">1</div>
</td>
<td class="code">
<div class="container">
<div class="line number1 index0 alt2"><code class="bash plain">root&nbsp;</code><code class="bash plain">/web/echo</code></div>
</div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
<p>&nbsp;</p>
<p>通过这个就知道所有网页文件的就在这个目录下 这个目录就是/ 当我们http://www.linux178.com/时就是访问这个目录下面的文件，例如访问http://www.linux178.com/index.html,那么代表/web/echo下面有个文件叫index.html</p>
<p>&nbsp;</p>
<div>
<div id="highlighter_11973" class="syntaxhighlighter  bash">
<table border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="gutter">
<div class="line number1 index0 alt2">1</div>
</td>
<td class="code">
<div class="container">
<div class="line number1 index0 alt2"><code class="bash plain">index index.html index.htm index.php</code></div>
</div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
<p>&nbsp;</p>
<p>通过这个就能得知网站的首页文件是那个文件，也就是我们在入http://www.linux178.com/ ，nginx就会自动帮我们把index.html（假设首页是index.php 当然是会尝试的去找到该文件，如果没有找到该文件就依次往下找，如果这3个文件都没有找到，那么就抛出一个404错误）加到后面，那么添加之后的URL是/index.php,然后根据后面的配置进行处理</p>
<p>&nbsp;</p>
<div>
<div id="highlighter_831536" class="syntaxhighlighter  bash">
<table border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="gutter">
<div class="line number1 index0 alt2">1</div>
<div class="line number2 index1 alt1">2</div>
<div class="line number3 index2 alt2">3</div>
<div class="line number4 index3 alt1">4</div>
<div class="line number5 index4 alt2">5</div>
<div class="line number6 index5 alt1">6</div>
<div class="line number7 index6 alt2">7</div>
</td>
<td class="code">
<div class="container">
<div class="line number1 index0 alt2"><code class="bash plain">location ~ .*\.php(\/.*)*$ {</code></div>
<div class="line number2 index1 alt1"><code class="bash spaces">&nbsp;&nbsp;&nbsp;</code><code class="bash plain">root&nbsp;</code><code class="bash plain">/web/echo</code><code class="bash plain">;</code></div>
<div class="line number3 index2 alt2"><code class="bash spaces">&nbsp;&nbsp;&nbsp;</code><code class="bash plain">fastcgi_pass&nbsp;&nbsp; 127.0.0.1:9000;</code></div>
<div class="line number4 index3 alt1"><code class="bash spaces">&nbsp;&nbsp;&nbsp;</code><code class="bash plain">fastcgi_index&nbsp; index.php;</code></div>
<div class="line number5 index4 alt2"><code class="bash spaces">&nbsp;&nbsp;&nbsp;</code><code class="bash plain">astcgi_param&nbsp; SCRIPT_FILENAME&nbsp; $document_root$fastcgi_script_name;</code></div>
<div class="line number6 index5 alt1"><code class="bash spaces">&nbsp;&nbsp;&nbsp;</code><code class="bash plain">include&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; fastcgi_params;</code></div>
<div class="line number7 index6 alt2"><code class="bash plain">}</code></div>
</div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
<p>这一段配置指明凡是请求的URL中匹配（这里是启用了正则表达式进行匹配） *.php后缀的（后面跟的参数）都交给后端的fastcgi进程进行处理。</p>
<p>&nbsp;</p>
<p>② 把php文件交给fastcgi进程去处理</p>
<p>&nbsp;</p>
<p>于是nginx把/index.php这个URL交给了后端的fastcgi进程处理，等待fastcgi处理完成后（结合数据库查询出数据，填充模板生成html文件）返回给nginx一个index.html文档，Nginx再把这个index.html返回给浏览器，于是乎浏览器就拿到了首页的html代码，同时nginx写一条访问日志到日志文件中去。</p>
<p>&nbsp;</p>
<p>注1：nginx是怎么找index.php文件的？</p>
<p>&nbsp;</p>
<p>当nginx发现需要/web/echo/index.php文件时，就会向内核发起IO系统调用(因为要跟硬件打交道，这里的硬件是指硬盘，通常需要靠内核来操作，而内核提供的这些功能是通过系统调用来实现的)，告诉内核，我需要这个文件,内核从/开始找到web目录，再在web目录下找到echo目录，最后在echo目录下找到index.php文件，于是把这个index.php从硬盘上读取到内核自身的内存空间，然后再把这个文件复制到nginx进程所在的内存空间，于是乎nginx就得到了自己想要的文件了。</p>
<p>&nbsp;</p>
<p>注2：寻找文件在文件系统层面是怎么操作的？</p>
<p>&nbsp;</p>
<p>比如nginx需要得到/web/echo/index.php这个文件</p>
<p>&nbsp;</p>
<p>每个分区（像ext3 ext3等文件系统，block块是文件存储的最小单元 默认是4096字节）都是包含元数据区和数据区，每一个文件在元数据区都有元数据条目（一般是128字节大小），每一个条目都有一个编号，我们称之为inode（index node 索引节点），这个inode里面包含 文件类型、权限、连接次数、属主和数组的ID、时间戳、这个文件占据了那些磁盘块也就是块的编号（block，每个文件可以占用多个block,并且block不一定是连续的，每个block是有编号的），如下图所示：</p>
<p>&nbsp;</p>
<p><img title="9.png" src="http://s3.51cto.com/wyfs02/M01/11/7D/wKiom1LSXwWRzx75AACjRCdIYcI778.jpg" alt="wKiom1LSXwWRzx75AACjRCdIYcI778.jpg"></p>
<p>&nbsp;</p>
<p>还有一个要点：目录其实也普通是文件，也需要占用磁盘块，目录不是一个容器。你看默认创建的目录就是4096字节，也就说只需要占用一个磁盘块，但这是不确定的。所以要找到目录也是需要到元数据区里面找到对应的条目，只有找到对应的inode就可找到目录所占用的磁盘块。</p>
<p>&nbsp;</p>
<p>那到底目录里面存放着什么，难道不是文件或者其他目录吗？</p>
<p>&nbsp;</p>
<p>其实目录存着这么一张表（姑且这么理解），里面放着 目录或者文件的名称和对应的inode号（暂时称之为映射表）,如下图：</p>
<p><img title="10.jpg" src="http://s3.51cto.com/wyfs02/M02/11/7D/wKiom1LSX3KATYWYAAAx2GkMEO4103.jpg" alt="wKiom1LSX3KATYWYAAAx2GkMEO4103.jpg"></p>
<p>&nbsp;</p>
<p>假设</p>
<p>/ &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 在数据区占据 1、2号block ，/其实也是一个目录 里面有3个目录 &nbsp;web 111</p>
<p>web &nbsp; &nbsp; &nbsp; &nbsp; 占据 5号block &nbsp;是目录 里面有2个目录 echo data</p>
<p>echo &nbsp; &nbsp; &nbsp; &nbsp;占据 11号 block &nbsp;是目录 &nbsp;里面有1个文件 index.php</p>
<p>index.php &nbsp; 占据 15 16号 block &nbsp;是文件</p>
<p>&nbsp;</p>
<p>其在文件系统中分布如下图所示</p>
<p>&nbsp;</p>
<p><img title="11.png" src="http://s3.51cto.com/wyfs02/M01/11/7C/wKioL1LSX6OizObEAAHJJkuxCa0943.jpg" alt="wKioL1LSX6OizObEAAHJJkuxCa0943.jpg" width="650"></p>
<p>&nbsp;</p>
<p>那么内核究竟是怎么找到index.php这个文件的呢？</p>
<p>&nbsp;</p>
<p>内核拿到nginx的IO系统调用要获取/web/echo/index.php这个文件请求之后</p>
<p>&nbsp;</p>
<p>① 内核读取元数据区 / 的inode，从inode里面读取/所对应的数据块的编号，然后在数据区找到其对应的块（1 2号块），读取1号块上的映射表找到web这个名称在元数据区对应的inode号</p>
<p>② 内核读取web对应的inode（3号），从中得知web在数据区对应的块是5号块，于是到数据区找到5号块，从中读取映射表，知道echo对应的inode是5号，于是到元数据区找到5号inode</p>
<p>③ 内核读取5号inode，得到echo在数据区对应的是11号块，于是到数据区读取11号块得到映射表，得到index.php对应的inode是9号</p>
<p>④ 内核到元数据区读取9号inode，得到index.php对应的是15和16号数据块，于是就到数据区域找到15 16号块，读取其中的内容，得到index.php的完整内容</p>
<p>&nbsp;</p>
<p>5. 浏览器解析html代码，并请求html代码中的资源</p>
<p>&nbsp;</p>
<p>浏览器拿到index.html文件后，就开始解析其中的html代码，遇到js/css/image等静态资源时，就向服务器端去请求下载（会使用多线程下载，每个浏览器的线程数不一样），这个时候就用上keep-alive特性了，建立一次HTTP连接，可以请求多个资源，下载资源的顺序就是按照代码里的顺序，但是由于每个资源大小不一样，而浏览器又多线程请求请求资源，所以从下图看出，这里显示的顺序并不一定是代码里面的顺序。</p>
<p>&nbsp;</p>
<p>浏览器在请求静态资源时（在未过期的情况下），向服务器端发起一个http请求（询问自从上一次修改时间到现在有没有对资源进行修改），如果服务器端返回304状态码（告诉浏览器服务器端没有修改），那么浏览器会直接读取本地的该资源的缓存文件。</p>
<p><img title="12.png" src="http://s3.51cto.com/wyfs02/M00/11/7D/wKiom1LSX_PT06f3AAF_5iS18UA331.jpg" alt="wKiom1LSX_PT06f3AAF_5iS18UA331.jpg" width="650"></p>
<p>&nbsp;</p>
<p>详细的浏览器工作原理请看：http://kb.cnblogs.com/page/129756/</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>6.浏览器对页面进行渲染呈现给用户</p>
<p>&nbsp;</p>
<p>最后，浏览器利用自己内部的工作机制，把请求到的静态资源和html代码进行渲染，渲染之后呈现给用户。</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>自此一次完整的HTTP事务宣告完成.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>本文出自 “雷纳科斯的博客” 博客，转载自http://linux5588.blog.51cto.com/65280/1351007</p></div><div id="MySignature"></div>
<div class="clear"></div>
<div id="blog_post_info_block">
<div id="BlogPostCategory"></div>
<div id="EntryTag">标签: <a href="https://www.cnblogs.com/engeng/tag/http/">http</a></div>
<div id="blog_post_info"><div id="green_channel">
        <a href="javascript:void(0);" id="green_channel_digg" onclick="DiggIt(5959335,cb_blogId,1);green_channel_success(this,'谢谢推荐！');">好文要顶</a>
            <a id="green_channel_follow" onclick="follow('2104410b-de8d-e611-845c-ac853d9f53ac');" href="javascript:void(0);">关注我</a>
    <a id="green_channel_favorite" onclick="AddToWz(cb_entryId);return false;" href="javascript:void(0);">收藏该文</a>
    <a id="green_channel_weibo" href="javascript:void(0);" title="分享至新浪微博" onclick="ShareToTsina()"><img src="//common.cnblogs.com/images/icon_weibo_24.png" alt=""></a>
    <a id="green_channel_wechat" href="javascript:void(0);" title="分享至微信" onclick="shareOnWechat()"><img src="//common.cnblogs.com/images/wechat.png" alt=""></a>
</div>
<div id="author_profile">
    <div id="author_profile_info" class="author_profile_info">
            <a href="http://home.cnblogs.com/u/engeng/" target="_blank"><img src="//pic.cnblogs.com/face/1038573/20161009131654.png" class="author_avatar" alt=""></a>
        <div id="author_profile_detail" class="author_profile_info">
            <a href="http://home.cnblogs.com/u/engeng/">恩恩先生</a><br>
            <a href="http://home.cnblogs.com/u/engeng/followees">关注 - 18</a><br>
            <a href="http://home.cnblogs.com/u/engeng/followers">粉丝 - 21</a>
        </div>
    </div>
    <div class="clear"></div>
    <div id="author_profile_honor"></div>
    <div id="author_profile_follow">
                <a href="javascript:void(0);" onclick="follow('2104410b-de8d-e611-845c-ac853d9f53ac');return false;">+加关注</a>
    </div>
</div>
<div id="div_digg">
    <div class="diggit" onclick="votePost(5959335,'Digg')">
        <span class="diggnum" id="digg_count">11</span>
    </div>
    <div class="buryit" onclick="votePost(5959335,'Bury')">
        <span class="burynum" id="bury_count">0</span>
    </div>
    <div class="clear"></div>
    <div class="diggword" id="digg_tips">
    </div>
</div>
<script type="text/javascript">
    currentDiggType = 0;
</script></div>
<div class="clear"></div>
<div id="post_next_prev"><a href="https://www.cnblogs.com/engeng/articles/5955167.html" class="p_n_p_prefix">« </a> 上一篇：<a href="https://www.cnblogs.com/engeng/articles/5955167.html" title="发布于2016-10-13 09:10">前端html、CSS快速编写代码插件-Emmet使用方法技巧详解</a><br><a href="https://www.cnblogs.com/engeng/articles/5969095.html" class="p_n_p_prefix">» </a> 下一篇：<a href="https://www.cnblogs.com/engeng/articles/5969095.html" title="发布于2016-10-17 11:22">A记录和CNAME记录对比详解</a><br></div>
</div>


		</div>
		<div class="postDesc">posted @ <span id="post-date">2016-10-14 10:16</span> <a href="https://www.cnblogs.com/engeng/">恩恩先生</a> 阅读(<span id="post_view_count">39005</span>) 评论(<span id="post_comment_count">7</span>) &nbsp;<a href="https://i.cnblogs.com/EditArticles.aspx?postid=5959335" rel="nofollow">编辑</a> <a href="#" onclick="AddToWz(5959335);return false;">收藏</a></div>
	</div>
	<script type="text/javascript">var allowComments=true,cb_blogId=309893,cb_entryId=5959335,cb_blogApp=currentBlogApp,cb_blogUserGuid='2104410b-de8d-e611-845c-ac853d9f53ac',cb_entryCreatedDate='2016/10/14 10:16:00';loadViewCount(cb_entryId);var cb_postType=2;var isMarkdown=false;</script>
	
</div><!--end: topics 文章、评论容器-->
</div><a name="!comments"></a><div id="blog-comments-placeholder"><div id="comments_pager_top"></div>
<br>
<div class="feedback_area_title">评论列表</div>
<div class="feedbackNoItems"></div>	

		<div class="feedbackItem">
			<div class="feedbackListSubtitle">
				<div class="feedbackManage">
					&nbsp;&nbsp;<span class="comment_actions"></span>
				</div>
				<a href="#3531525" class="layer">#1楼</a><a name="3531525" id="comment_anchor_3531525"></a>[<span class="louzhu">楼主</span>]  <span class="comment_date">2016-10-14 16:44</span> <a id="a_comment_author_3531525" href="https://www.cnblogs.com/engeng/" target="_blank">恩恩先生</a> <a href="http://msg.cnblogs.com/send/%E6%81%A9%E6%81%A9%E5%85%88%E7%94%9F" title="发送站内短消息" class="sendMsg2This">&nbsp;</a>
			</div>
			<div class="feedbackCon">
				<div id="comment_body_3531525" class="blog_comment_body">哦哦</div><div class="comment_vote"><a href="javascript:void(0);" class="comment_digg" onclick="return voteComment(3531525,'Digg',this)">支持(0)</a><a href="javascript:void(0);" class="comment_bury" onclick="return voteComment(3531525,'Bury',this)">反对(0)</a></div><span id="comment_3531525_avatar" style="display:none;">http://pic.cnblogs.com/face/1038573/20161009131654.png</span>
			</div>
		</div>
	
		<div class="feedbackItem">
			<div class="feedbackListSubtitle">
				<div class="feedbackManage">
					&nbsp;&nbsp;<span class="comment_actions"></span>
				</div>
				<a href="#3750006" class="layer">#2楼</a><a name="3750006" id="comment_anchor_3750006"></a>  <span class="comment_date">2017-08-03 16:34</span> <a id="a_comment_author_3750006" href="https://www.cnblogs.com/xxue/" target="_blank">alone_alone</a> <a href="http://msg.cnblogs.com/send/alone_alone" title="发送站内短消息" class="sendMsg2This">&nbsp;</a>
			</div>
			<div class="feedbackCon">
				<div id="comment_body_3750006" class="blog_comment_body">好文章，对我这种小白来说启发很大</div><div class="comment_vote"><a href="javascript:void(0);" class="comment_digg" onclick="return voteComment(3750006,'Digg',this)">支持(0)</a><a href="javascript:void(0);" class="comment_bury" onclick="return voteComment(3750006,'Bury',this)">反对(0)</a></div>
			</div>
		</div>
	
		<div class="feedbackItem">
			<div class="feedbackListSubtitle">
				<div class="feedbackManage">
					&nbsp;&nbsp;<span class="comment_actions"></span>
				</div>
				<a href="#3905852" class="layer">#3楼</a><a name="3905852" id="comment_anchor_3905852"></a>  <span class="comment_date">2018-02-08 09:23</span> <a id="a_comment_author_3905852" href="http://home.cnblogs.com/u/1159944/" target="_blank">yoyoloveu</a> <a href="http://msg.cnblogs.com/send/yoyoloveu" title="发送站内短消息" class="sendMsg2This">&nbsp;</a>
			</div>
			<div class="feedbackCon">
				<div id="comment_body_3905852" class="blog_comment_body">好详细啊！支持！</div><div class="comment_vote"><a href="javascript:void(0);" class="comment_digg" onclick="return voteComment(3905852,'Digg',this)">支持(0)</a><a href="javascript:void(0);" class="comment_bury" onclick="return voteComment(3905852,'Bury',this)">反对(0)</a></div>
			</div>
		</div>
	
		<div class="feedbackItem">
			<div class="feedbackListSubtitle">
				<div class="feedbackManage">
					&nbsp;&nbsp;<span class="comment_actions"></span>
				</div>
				<a href="#3923908" class="layer">#4楼</a><a name="3923908" id="comment_anchor_3923908"></a>  <span class="comment_date">2018-03-15 15:52</span> <a id="a_comment_author_3923908" href="http://home.cnblogs.com/u/1134412/" target="_blank">gaox24l</a> <a href="http://msg.cnblogs.com/send/gaox24l" title="发送站内短消息" class="sendMsg2This">&nbsp;</a>
			</div>
			<div class="feedbackCon">
				<div id="comment_body_3923908" class="blog_comment_body">系统的了解整个过程 好棒</div><div class="comment_vote"><a href="javascript:void(0);" class="comment_digg" onclick="return voteComment(3923908,'Digg',this)">支持(0)</a><a href="javascript:void(0);" class="comment_bury" onclick="return voteComment(3923908,'Bury',this)">反对(0)</a></div>
			</div>
		</div>
	
		<div class="feedbackItem">
			<div class="feedbackListSubtitle">
				<div class="feedbackManage">
					&nbsp;&nbsp;<span class="comment_actions"></span>
				</div>
				<a href="#3958634" class="layer">#5楼</a><a name="3958634" id="comment_anchor_3958634"></a>  <span class="comment_date">2018-04-23 10:35</span> <a id="a_comment_author_3958634" href="https://www.cnblogs.com/pengwenfan/" target="_blank">chasingwinds</a> <a href="http://msg.cnblogs.com/send/chasingwinds" title="发送站内短消息" class="sendMsg2This">&nbsp;</a>
			</div>
			<div class="feedbackCon">
				<div id="comment_body_3958634" class="blog_comment_body">可以收藏了</div><div class="comment_vote"><a href="javascript:void(0);" class="comment_digg" onclick="return voteComment(3958634,'Digg',this)">支持(0)</a><a href="javascript:void(0);" class="comment_bury" onclick="return voteComment(3958634,'Bury',this)">反对(0)</a></div><span id="comment_3958634_avatar" style="display:none;">http://pic.cnblogs.com/face/1027923/20161006191442.png</span>
			</div>
		</div>
	
		<div class="feedbackItem">
			<div class="feedbackListSubtitle">
				<div class="feedbackManage">
					&nbsp;&nbsp;<span class="comment_actions"></span>
				</div>
				<a href="#4004856" class="layer">#6楼</a><a name="4004856" id="comment_anchor_4004856"></a>  <span class="comment_date">2018-06-24 22:43</span> <a id="a_comment_author_4004856" href="http://home.cnblogs.com/u/1226258/" target="_blank">茄子烧黄瓜</a> <a href="http://msg.cnblogs.com/send/%E8%8C%84%E5%AD%90%E7%83%A7%E9%BB%84%E7%93%9C" title="发送站内短消息" class="sendMsg2This">&nbsp;</a>
			</div>
			<div class="feedbackCon">
				<div id="comment_body_4004856" class="blog_comment_body">mark</div><div class="comment_vote"><a href="javascript:void(0);" class="comment_digg" onclick="return voteComment(4004856,'Digg',this)">支持(0)</a><a href="javascript:void(0);" class="comment_bury" onclick="return voteComment(4004856,'Bury',this)">反对(0)</a></div>
			</div>
		</div>
	
		<div class="feedbackItem">
			<div class="feedbackListSubtitle">
				<div class="feedbackManage">
					&nbsp;&nbsp;<span class="comment_actions"></span>
				</div>
				<a href="#4050080" class="layer">#7楼</a><a name="4050080" id="comment_anchor_4050080"></a><span id="comment-maxId" style="display:none;">4050080</span><span id="comment-maxDate" style="display:none;">2018/8/24 17:10:11</span>  <span class="comment_date">2018-08-24 17:10</span> <a id="a_comment_author_4050080" href="https://www.cnblogs.com/zhuhezx/" target="_blank">黃金老頭</a> <a href="http://msg.cnblogs.com/send/%E9%BB%83%E9%87%91%E8%80%81%E9%A0%AD" title="发送站内短消息" class="sendMsg2This">&nbsp;</a>
			</div>
			<div class="feedbackCon">
				<div id="comment_body_4050080" class="blog_comment_body">mark</div><div class="comment_vote"><a href="javascript:void(0);" class="comment_digg" onclick="return voteComment(4050080,'Digg',this)">支持(0)</a><a href="javascript:void(0);" class="comment_bury" onclick="return voteComment(4050080,'Bury',this)">反对(0)</a></div>
			</div>
		</div>
	<div id="comments_pager_bottom"></div></div><script type="text/javascript">var commentManager = new blogCommentManager();commentManager.renderComments(0);</script>
<div id="comment_form" class="commentform">
<a name="commentform"></a>
<div id="divCommentShow"></div>
<div id="comment_nav"><span id="span_refresh_tips"></span><a href="javascript:void(0);" onclick="return RefreshCommentList();" id="lnk_RefreshComments" runat="server" clientidmode="Static">刷新评论</a><a href="#" onclick="return RefreshPage();">刷新页面</a><a href="#top">返回顶部</a></div>
<div id="comment_form_container"><div class="login_tips">注册用户登录后才能发表评论，请 <a rel="nofollow" href="javascript:void(0);" class="underline" onclick="return login('commentform');">登录</a> 或 <a rel="nofollow" href="javascript:void(0);" class="underline" onclick="return register();">注册</a>，<a href="http://www.cnblogs.com">访问</a>网站首页。</div></div>
<div class="ad_text_commentbox" id="ad_text_under_commentbox"></div>
<div id="ad_t2"><a href="http://www.ucancode.com/index.htm" target="_blank" onclick="ga('send', 'event', 'Link', 'click', 'T2-工控')">【推荐】超50万C++/C#源码: 大型实时仿真HMI组态CAD\GIS图形源码！</a><br><a href="https://gitee.com/enterprises?from=bky-2" target="_blank" onclick="ga('send', 'event', 'Link', 'click', 'T2-gitee')">【推荐】专业便捷的企业级代码托管服务 - Gitee 码云</a><br></div>
<div id="opt_under_post"></div>
<script async="async" src="https://www.googletagservices.com/tag/js/gpt.js"></script>
<script>
  var googletag = googletag || {};
  googletag.cmd = googletag.cmd || [];
</script>
<script>
  googletag.cmd.push(function() {
        googletag.defineSlot('/1090369/C1', [300, 250], 'div-gpt-ad-1546353474406-0').addService(googletag.pubads());
        googletag.defineSlot('/1090369/C2', [468, 60], 'div-gpt-ad-1539008685004-0').addService(googletag.pubads());
        googletag.pubads().enableSingleRequest();
        googletag.enableServices();
  });
</script>
<div id="cnblogs_c1" class="c_ad_block">
    <div id="div-gpt-ad-1546353474406-0" style="height:250px; width:300px;" data-google-query-id="CN6Fx4rw6uACFQV6vQodmhELDQ"><div id="google_ads_iframe_/1090369/C1_0__container__" style="border: 0pt none; display: inline-block; width: 300px; height: 250px;"><iframe frameborder="0" src="https://tpc.googlesyndication.com/safeframe/1-0-32/html/container.html" id="google_ads_iframe_/1090369/C1_0" title="3rd party ad content" name="" scrolling="no" marginwidth="0" marginheight="0" width="300" height="250" data-is-safeframe="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts allow-top-navigation-by-user-activation" data-google-container-id="1" style="border: 0px; vertical-align: bottom;" data-load-complete="true"></iframe></div></div>
</div>
<div id="under_post_news"></div>
<div id="cnblogs_c2" class="c_ad_block">
    <div id="div-gpt-ad-1539008685004-0" style="height:60px; width:468px;" data-google-query-id="CL-Gx4rw6uACFU1cvQodW2oLmg"><div id="google_ads_iframe_/1090369/C2_0__container__" style="border: 0pt none; display: inline-block; width: 320px; height: 50px;"><iframe frameborder="0" src="https://tpc.googlesyndication.com/safeframe/1-0-32/html/container.html" id="google_ads_iframe_/1090369/C2_0" title="3rd party ad content" name="" scrolling="no" marginwidth="0" marginheight="0" width="320" height="50" data-is-safeframe="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts allow-top-navigation-by-user-activation" data-google-container-id="2" style="border: 0px; vertical-align: bottom;" data-load-complete="true"></iframe></div></div>
</div>
<div id="under_post_kb"></div>
<div id="HistoryToday" class="c_ad_block"></div>
<script type="text/javascript">
 if(enablePostBottom()) {
    codeHighlight();
    fixPostBody();
    setTimeout(function () { incrementViewCount(cb_entryId); }, 50);
    deliverT2();
    deliverC1();
    deliverC2();    
    loadNewsAndKb();
    loadBlogSignature();
    LoadPostInfoBlock(cb_blogId, cb_entryId, cb_blogApp, cb_blogUserGuid);
    GetPrevNextPost(cb_entryId, cb_blogId, cb_entryCreatedDate, cb_postType);
    loadOptUnderPost();
    GetHistoryToday(cb_blogId, cb_blogApp, cb_entryCreatedDate);  
}
</script>
</div>

    
	</div><!--end: forFlow -->
	</div>